
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Congregação Cristã No Brasil</title>
    <link href="~/bootstrap-5.0.0-beta1-dist/css/bootstrap.css" rel="stylesheet" />

</head>
<body class="container-xl  bg-light mt-4" >

    <h3 class="font-monospace text-info">A PAZ DE DEUS!</h3>

    <p class=" text-info"> Escolhe a opção Desejada:</p>

    <br/>

    <a href="/Account/Login" class="btn btn-outline-info mr-2">Autenticação de Usuario</a>

    <a href="/Account/Register" class="btn btn-outline-info">Registrar Usuario</a>
</body>
</html>
